name: Test Python Package

on: [ pull_request, workflow_dispatch ]

jobs:
  test-docs:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11.x'
          cache: 'pip'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r docs/requirements.txt
          sudo apt-get update && sudo apt-get install -y enchant-2 aspell-en
      - name: Build Docs
        run: |
          cd docs
          make clean
          make html
      - name: Spelling Check
        if: always()
        run: |
          cd docs
          make spelling
      - name: Link Check
        if: always()
        run: |
          cd docs
          make linkcheck
  test:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12"]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r tests/requirements.txt
      - name: Add DBus Config
        run: |
          sudo cp tests/com.spacecheese.test.conf /etc/dbus-1/system.d
      - name: Run Tests
        run: |
          python -m unittest discover -s tests -p "test_*.py" -v
  format-check:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11.x'
          cache: 'pip'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install black
      - name: Check Formatting
        run: |
          python -m black --check bluez_peripheral
          python -m black --check tests
  type-hint-check:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11.x'
          cache: 'pip'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install mypy
      - name: Check type hints
        run: |
          python -m mypy bluez_peripheral
  lint-check:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11.x'
          cache: 'pip'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pylint
      - name: Run lint checks
        run: |
          python -m pylint bluez_peripheral
        
