name: Test Python Package

on: [ pull_request, workflow_dispatch ]

jobs:
  test-docs:
    runs-on: ubuntu-latest
    container: sphinxdoc/sphinx:latest
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          sudo apt-get install enchant-2
          python -m pip install --upgrade pip
          pip install -r docs/requirements.txt
      - name: Build Docs
        run: |
          cd docs
          make html
          make linkcheck
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9.x'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r tests/requirements.txt
      - name: Add DBus Config
        run: |
          sudo cp tests/com.spacecheese.test.conf /etc/dbus-1/system.d
      - name: Run Tests
        run: |
          python -m unittest
        
